<div class="container w-25">
  <div class="row">
    <div class="col">
      <h1>Unchock</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Enter your flight information, and automatically get checked in.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="shadow bg-white rounded my-3 p-3">
        <form [formGroup]="checkInForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="passengerFirstName">Passenger First Name</label>
            <input type="text" class="form-control" id="passengerFirstName" formControlName="passengerFirstName">
          </div>
          <div class="form-group">
            <label for="passengerLastName">Passenger Last Name</label>
            <input type="text" class="form-control" id="passengerLastName" formControlName="passengerLastName">
          </div>
          <div class="form-group">
            <label for="confirmationNumber">Confirmation Number</label>
            <input type="text" class="form-control" id="confirmationNumber" formControlName="confirmationNumber">
          </div>
          <div class="row">
            <div class="col text-left">
              <button type="button" (click)="onClear()" class="btn btn-outline-danger ">Clear</button>
            </div>
            <div class="col text-right">
              <button type="submit" class="btn btn-primary">Check In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h3>Flights you are checked in to</h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let checkin of checkIns">
          {{checkin.passenger_first_name}} {{checkin.passenger_last_name}} - {{checkin.booking_ref_num}} | {{checkin.departure_flight_time}}
        </li>
      </ul>
    </div>
  </div>
</div>
