<section>
  <div class="container-fluid p-5">
    <div class="row text-light py-3">
      <div class="col-6">
        <h1 class="display-3 pb-2">Unchock</h1>
        <p class="h4 font-weight-light opacity-70">Enter your information and we will check you in</p>
      </div>
      <div class="col-6">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="checkInForm" (ngSubmit)="onSubmit()">
          <div class="form-row align-items-center py-4">
            <div class="col">
              <label class="sr-only" for="passengerFirstName"></label>
              <input type="text" class="form-control" id="passengerFirstName" placeholder="Passenger first name" formControlName="passengerFirstName">
            </div>
            <div class="col">
              <label class="sr-only" for="passengerLastName"></label>
              <input type="text" class="form-control" placeholder="Passenger last name" id="passengerLastName" formControlName="passengerLastName">
            </div>
            <div class="col">
              <label class="sr-only" for="confirmationNumber"></label>
              <input type="text" class="form-control" id="confirmationNumber" placeholder="Confirmation number" formControlName="confirmationNumber">
            </div>
            <div class="col">
              <button type="submit" class="btn btn-light" [disabled]="submittingForm">
                <span *ngIf="submittingForm" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Check{{submittingForm ? 'ing' : ''}} In
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row py-5">
      <div *ngFor="let checkIn of checkIns" class="col-3">
        <div class="card" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="card-body">
              <span *ngIf="checkIn.status === 'FOUND'" class="badge float-right badge-info">PENDING</span>
              <span *ngIf="checkIn.status === 'FAIL'" class="badge float-right badge-danger">FAILED</span>
              <span *ngIf="checkIn.status === 'DONE'" class="badge float-right badge-success">DONE</span>
              <h5 class="card-title">{{checkIn.passenger_first_name | titlecase}} {{checkIn.passenger_last_name | titlecase}}</h5>
              <p class="card-text">{{checkIn.from_city}} -> {{checkIn.to_city}}</p>
              <p class="card-text">{{checkIn.departure_flight_time | date: 'short'}}</p>
              <p class="card-text"><small class="text-muted">I will check you in at {{checkIn.check_in_time | date: 'shortTime'}} on {{checkIn.check_in_time | date}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
